﻿@using Microsoft.AspNetCore.Http;
@using Sabemi.Admin.Models;
@{
    //TODO: alterar para mostar o nome do usuário
    ViewBag.Title = "Alterar Senha"; //Context.Session.Get<AdminSessionModel>(ConfiguracaoAppUtil.Get(enumConfiguracaoGeral.sessionModelKey)).Usuario.Nome;
}
@model PasswordViewModel

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-group page-header-icon"></i>&nbsp;&nbsp;@ViewBag.Title</h1>

        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto">
                    <a href="javascript:window.history.back();" class="btn btn-labeled btn-flat" style="width: 100%;">
                        <span class="btn-label icon fa fa-angle-left"></span>Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <form asp-action="ChangePassword" class="panel form-horizontal" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="panel-heading">
                <span class="panel-title">Alterar Senha</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Password" class="col-sm-2 control-label">Senha Atual *</label>
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.Password, new { validate = "required", @class = "form-control", placeholder = "Informe a Senha do Usuário" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-sm-2 control-label">Nova Senha *</label>
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.NewPassword, new { validate = "required", @class = "form-control", placeholder = "Informe a Senha do Usuário" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-sm-2 control-label">Repita a Nova Senha *</label>
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { validate = "required,equals[#NewPassword]", @class = "form-control", placeholder = "Repita a Senha do Usuário" })
                    </div>
                </div>

                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
