﻿@model LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html class="gt-ie8 gt-ie9 not-ie">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sabemi Admin - @ViewData["Title"]</title>
    <link rel="icon" href="@Url.Content("~/images/favicon.ico")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="sname" content="@Environment.MachineName">

    <partial name="_StylesPartial" />
</head>

<body class="theme-dust page-signin">    

    <div id="page-signin-bg">
        <img src="@Url.Content("~/images/background.svg")" class="Background">
    </div>
        
    <div class="signin-container">
        <!-- Left side -->
        <div class="signin-info">
            <a href="#" class="logo">
                <img src="@Url.Content("~/images/logo.svg")" alt="Sabemi" style="margin-top: -5px;">
                <br /><br />
                Acesso Restrito
            </a> <!-- / .logo -->
            <div class="slogan">

                <br /><br />
            </div> <!-- / .slogan -->
        </div>
        <!-- / Left side -->
        <!-- Right side -->
        <div class="signin-form">
            <form asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" class="signin-form_id" method="post">
                <div class="signin-text">
                    <span>Realize seu Acesso</span>
                </div>

                <div class="form-group w-icon">
                    @Html.TextBoxFor(m => m.Username, new { validate = "required", @class = "form-control input-lg", placeholder = "Login de acesso" })
                    <span class="fa fa-user signin-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    @Html.PasswordFor(m => m.Password, new { validate = "required", @class = "form-control input-lg", placeholder = "Senha de acesso", autocomplete = "OFF" })
                    <span class="fa fa-lock signin-form-icon"></span>
                </div>

                <div class="form-actions">
                    <input type="submit" value="ACESSAR" class="signin-btn bg-primary">
                </div>

                @if (!string.IsNullOrEmpty(TempData["Errors"]?.ToString()))
                {
                    <div class="col-md-offset-0">
                        <div style="padding-top: 15px;"></div>
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" style="padding-top: 20px">×</button>
                            @{
                                foreach (string message in (IEnumerable<string>)TempData["Errors"])
                                {
                                    <div class="text-danger">@message</div>
                                }
                            }
                        </div>
                    </div>
                }
            </form>            
        </div>
        <!-- Right side -->        
    </div>    
    <partial name="_ScriptsPartial" />
</body>

</html>