﻿@{
    ViewBag.Title = " IP's Modo Assistido";
}

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-list-alt page-header-icon"></i>@ViewBag.Title</h1>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto">
                    <a asp-action="Create" class="btn btn-primary btn-labeled btn-flat" style="width: 100%;">
                        <span class="btn-label icon fa fa-plus"></span>Adicionar Novo IP
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-primary">
    <div class="hidden" id="jq-datatable-caption">Lista de @ViewBag.Title</div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatable">
        <thead>
            <tr>
                <th>IP</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    init.push(function () {

        $('#jq-datatable').on("draw.dt", function () {
            @*$('#jq-datatable .chk-inativar').on("click", function () {
                if ($(this).data("inativo") == 0) {
                    $(this).data("inativo", "1");
                }
                else {
                    $(this).data("inativo", "0");
                }
                var inativar = $(this).data("inativo") == 0 ? "false" : "true";
                var url = "@Url.Action("Inactivate", "AssistedMode")/" + $(this).data("id") + "?inativo=" + inativar;

                $.getJSON(url, function (result) {
                    //var typeMessage = result.Success ? "Success" : "Error";
                    //notify(result.Message, typeMessage);
                });
            });

            $('#jq-datatable .switcher-example-default').switcher();*@
        });

        $('#jq-datatable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("List", "AssistedMode")",
            "bProcessing": true,
            "aoColumns": [
                { "sName": "IP", "bSortable": false },
                { "sName": "Descrição", "bSortable": false }
                //{
                //    "sName": "Ativo",
                //    "bSearchable": false,
                //    "bSortable": false,
                //    "mRender": function (data, type, full) {
                //        var idinativo = data.split("#");
                //        return '<input type="checkbox" data-id="' + idinativo[0] + '" data-inativo="' + idinativo[1] + '" ' + (idinativo[1] == "0" ? 'checked="checked"' : '') + ' class="chk-inativar switcher-example-default" /> ';
                //    }
                //}
            ]
        });
    });
</script>
