﻿@using Sabemi.Domain.Interfaces
@inject IAuthUser authUser
<!DOCTYPE html>
<html class="gt-ie8 gt-ie9 not-ie">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title &raquo; Sabemi Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="sname" content="@Environment.MachineName">

    <style>
        .select2-hidden-accessible {
            display: none;
        }
    </style>
    <link rel="icon" href="@Url.Content("~/images/favicon.ico")" type="image/x-icon" />

    <partial name="_StylesPartial" />

    <meta name="description" content="Admin" />
</head>

<!-- BODY  -->
<body class="theme-dust main-menu-animated main-navbar-fixed main-menu-fixed no-main-menu hide">

    <div class="btns-selection active">
        <div class="twitter-select">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>

        </div>
        <a href="#" class="comment-select">
        </a>
    </div>
    <script>

        var init = [];
    </script>

    <div id="main-wrapper">

        <!-- MAIN_NAVIGATION -->
        <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

            <div class="navbar-inner">
                <div class="navbar-header">
                    <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                        <img src="@Url.Content("~/images/logo.png")" alt="Sabemi Admin" style="margin: 2px 0 5px;height: 40px;"> &nbsp;
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
                </div>
                <!-- navbar-header -->

                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <div>

                        

                        <ul class="nav navbar-nav">
                            <li><a asp-action="Index" asp-controller="AssistedMode"><i class="menu-icon fa fa-list-alt"></i> <span class="mm-text">IP's Modo Assistido</span></a></li>
                            <li><a asp-action="Index" asp-controller="PortalAccess"><i class="menu-icon fa fa-list-ul"></i> <span class="mm-text">Acessos ao Portal</span></a></li>
                            <li><a asp-action="Index" asp-controller="AdminUser"><i class="menu-icon fa fa-users"></i> <span class="mm-text">Usuários</span></a></li>
                            <li><a asp-action="Index" asp-controller="PortalClient"><i class="menu-icon fa fa-group"></i> <span class="mm-text">Clientes</span></a></li>
                            <li><a asp-action="Index" asp-controller="WhiteList"><i class="menu-icon fa fa-user"></i> <span class="mm-text">IP's de Exceção (WhiteList)</span></a></li>
                            <li><a asp-action="Index" asp-controller="BlockedAccess"><i class="menu-icon fa fa-ban"></i> <span class="mm-text">Acessos Bloqueados</span></a></li>
                            <li><a asp-action="Index" asp-controller="AdminConfiguration"><i class="menu-icon fa fa-gears"></i> <span class="mm-text">Configurações</span></a></li>
                        </ul>
                        <!-- navbar-nav -->

                        <div class="right clearfix">
                            <ul class="nav navbar-nav pull-right right-navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                        <i class="fa fa-male"></i>
                                        <span>@authUser.GetUserName()</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @*<li>
                                            <a asp-action="ChangePassword" asp-controller="Account"><i class="dropdown-icon fa fa-key"></i>&nbsp;&nbsp;Alterar Senha</a>
                                        </li>*@
                                        <li class="divider"></li>
                                        <li>
                                            <a asp-action="Logout" asp-controller="Account"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Sair</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- navbar-nav -->
                        </div>
                        <!-- right -->
                    </div>
                </div>
                <!-- main-navbar-collapse -->
            </div>
            <!-- navbar-inner -->
        </div>
        <!-- main-navbar -->

        <div id="main-menu" role="navigation">
            <div id="main-menu-inner">
                <div class="menu-content top animated fadeIn">
                    <div>
                        <div class="text-bg"><span class="text-semibold"></span></div>
                    </div>
                </div>
                <ul class="navigation"></ul>

                <!-- navigation -->
            </div>
            <!-- main-menu-inner -->
        </div>
        <!-- main-menu -->
        <!-- MAIN_MENU -->
        <div id="loader" style=""></div>
        <div id="content-wrapper">
            @RenderBody()
        </div>
        <!-- content-wrapper -->
        <div id="main-menu-bg"></div>
    </div>

    <!-- Large modal -->
    <div id="modal-view" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <a href="#" target="_blank" class="btn btn-labeled btn-primary btn-sm" id="modal-view-link"><span class="btn-label icon fa fa-link"></span>Abrir em nova página</a>
                    <a href="#" target="_blank" class="btn btn-labeled btn-info btn-sm" id="modal-view-copy"><span class="btn-label icon fa fa-copy"></span>Copiar URL</a>
                    <h4 class="modal-title">Vizualização</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 width-zoom">
                            <div class="frame frame-desktop">
                                <iframe src="about:blank" name="desktop"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-4 width-zoom">
                            <div class="frame frame-mobile">
                                <iframe src="about:blank" name="mobile"></iframe>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8 width-zoom">
                            <div class="frame frame-tablet">
                                <iframe src="about:blank" name="tablet"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
    </div> <!-- modal -->
    <!-- Large modal -->
    <!-- main-wrapper -->

    <partial name="_ScriptsPartial" />
    <partial name="_Message" />

    <script type="text/javascript">
        init.push(function () {
            // Javascript code here
            if ($("#jq-datatable_wrapper").length) {
                if ($("#jq-datatable-caption").length) {
                    $('#jq-datatable_wrapper .table-caption').text($("#jq-datatable-caption").text());
                }

                if ($("#jq-datatable-search").length) {
                    $('#jq-datatable_wrapper .DT-search:last').after($("#jq-datatable-search").children());
                }

                $('#jq-datatable_wrapper .dataTables_filter input').attr('placeholder', 'Busca...');
            }

            $('.btn-excluir').on('click', function () {

                var action = $(this).data('url');
                bootbox.confirm("Deseja excluir esse registro?", function (result) {
                    if (result) {
                        location.href = action;
                    }
                })


            });
        });

        window.PixelAdmin.start(init);

    </script>
</body>
</html>