﻿@using static Sabemi.CrossCutting.Util.Enumerator

@if (!string.IsNullOrEmpty(TempData["Success"]?.ToString()) || (TempData["Errors"] != null && ((ICollection<string>)TempData["Errors"]).Count > 0))
{
    <script type="text/javascript">
        init.push(function () {
            @if (!string.IsNullOrEmpty(TempData["Success"]?.ToString()))
            {                
                <text>notify('@TempData["Success"].ToString()', '@AdminMessageType.Success');</text>
            }
            else
            {
                @foreach(string err in (ICollection<string>)TempData["Errors"])
                {
                    <text>notify('@err', '@AdminMessageType.Error');</text>
                }
            }
        });
    </script>
}