﻿<script src="@Url.Content("~/scripts/jquery-3.2.1.min.js")"></script>
<script src="@Url.Content("~/scripts/bootbox.min.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap-datepicker.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap-datepicker2.js")"></script>
<script src="@Url.Content("~/scripts/bootstrap-editable-demo.js")"></script>
<script src="@Url.Content("~/scripts/clipboard.min.js")"></script>
<script src="@Url.Content("~/scripts/dropzone.js")"></script>
<script src="@Url.Content("~/scripts/helpjs.js")"></script>
<script src="@Url.Content("~/scripts/ie.js")"></script>
<script src="@Url.Content("~/scripts/jquery.cropit.js")"></script>
<script src="@Url.Content("~/scripts/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/scripts/jquery.jeditable.min.js")"></script>
<script src="@Url.Content("~/scripts/jquery.mask.min.js")"></script>
<script src="@Url.Content("~/scripts/jquery.maskedinput.min.js")"></script>
<script src="@Url.Content("~/scripts/jquery.maskMoney.js")"></script>
@*<script src="@Url.Content("~/scripts/jquery.min.2.0.3.js")"></script>*@
<script src="@Url.Content("~/scripts/jquery.mockjax.js")"></script>
<script src="@Url.Content("~/scripts/jquery.radios-to-slider.min.js")"></script>
<script src="@Url.Content("~/scripts/jquery.validate.js")"></script>
@*<script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>*@
<script src="@Url.Content("~/scripts/jquery-confirm.js")"></script>
<script src="@Url.Content("~/scripts/jquery-form-plugins.js")"></script>
<script src="@Url.Content("~/scripts/jquery-form-ready.js")"></script>
<script src="@Url.Content("~/scripts/jstree.min.js")"></script>
<script src="@Url.Content("~/scripts/Main.js")"></script>
<script src="@Url.Content("~/scripts/Mapa.js")"></script>
<script src="@Url.Content("~/scripts/modernizr-2.6.2.js")"></script>
<script src="@Url.Content("~/scripts/moment.js")"></script>
<script src="@Url.Content("~/scripts/pickmeup.min.js")"></script>
<script src="@Url.Content("~/scripts/respond.js")"></script>
<script src="@Url.Content("~/scripts/respond.matchmedia.addListener.js")"></script>
<script src="@Url.Content("~/scripts/select2.min.js")"></script>
<script src="@Url.Content("~/scripts/summernote.min.js")"></script>
<script src="@Url.Content("~/scripts/tinycolor.min.js")"></script>
<script src="@Url.Content("~/scripts/_references.js")"></script>
<script src="@Url.Content("~/scripts/jquery-ui-extras.js")"></script>
<script src="@Url.Content("~/scripts/select2_locale_pt-BR.js")"></script>
<script src="@Url.Content("~/scripts/pixel-admin.js")"></script>
<script src="@Url.Content("~/scripts/_Admin.js")"></script>