﻿<link rel="stylesheet" href="@Url.Content("~/css/widgets.css")">
<link rel="stylesheet" href="@Url.Content("~/css/_Style.css")">
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")">
<link rel="stylesheet" href="@Url.Content("~/css/themes.css")">
<link rel="stylesheet" href="@Url.Content("~/css/datepicker.css")">
<link rel="stylesheet" href="@Url.Content("~/css/font-face.css")">
<link rel="stylesheet" href="@Url.Content("~/css/pages.css")">
<link rel="stylesheet" href="@Url.Content("~/css/rtl.css")">
<link rel="stylesheet" href="@Url.Content("~/css/select2.css")">
<link rel="stylesheet" href="@Url.Content("~/css/style.min.css")">
<link rel="stylesheet" href="@Url.Content("~/css/summernote-bs3.css")">
<link rel="stylesheet" href="@Url.Content("~/css/pixel-admin.css")">