﻿@model Sabemi.Domain.Entities.Admin.AdminConfiguration

@{
    ViewBag.Title = "Configurações";
}

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-user page-header-icon"></i>&nbsp;&nbsp;@ViewBag.Title</h1>
    </div>
</div>


<form asp-action="Index" method="post" name="frmCadastro" id="frmCadastro" autocomplete="off">
    <input type="hidden" asp-for="Cod_Id" />

    <div class="panel">
        <div class="panel-body">

            <div class="form-group">
                <label asp-for="Num_Max_Usuarios_Ip" class="control-label">Nº Máx. de Usuários por IP:</label>
                <input asp-for="Num_Max_Usuarios_Ip" class="form-control" />
                <span asp-validation-for="Num_Max_Usuarios_Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_Dias_Verificacao" class="control-label">Nº dias para Verificação:</label>
                <input asp-for="Num_Dias_Verificacao" class="form-control" />
                <span asp-validation-for="Num_Dias_Verificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_Dias_Bloqueado" class="control-label">Nº de Dias para Desbloqueio: </label>
                <input asp-for="Num_Dias_Bloqueado" class="form-control" />
                <span asp-validation-for="Num_Dias_Bloqueado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn-success btn btn-flat btn-labeled"><span class="btn-label icon fa fa-save"></span>Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

