.detail {
    height: 150px;
    top: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.39);
}

#colum-detail div {
    line-height: 22px;
}

#colum-detail .navbar-icon {
    width: 20px;
}
#cidades-participantes {
    width: auto;
}
#indicated-detail .info h4 {
    border-bottom: 2px solid #edece7;
    width: 100%;
    padding-bottom: 5px;
}

#indicated-detail .info {
    padding-bottom: 5px;
    padding-top: 0px !important;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding: 10px 15px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    margin-right: 20px;
}

    #indicated-detail .info .line {
        margin-bottom: 5px;
    }

        #indicated-detail .info .line .str {
            padding-left: 5px;
            display: inline-block;
        }

#indicated-detail h2 {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 15px;
}

#indicated-detail .detail-name {
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 20px;
}

#indicated-detail #qualidades span {
    margin-bottom: 5px;
}

.options-history span {
    width: 150px;
}

.photo-profile img {
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px #b5b5b5;
    width: 100%;
}

img.photo, .video {
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px #b5b5b5;
    display: inline-block;
    margin: 0 auto;
    width: 90%;
}

    .video video {
        width: 100%;
    }

.midias {
    text-align: center;
}

h4.questions {
    border-bottom: 2px solid #edece7;
    width: 100%;
    padding-bottom: 5px;
}

div.form-nota {
    text-align: center;
}

.bootbox.bootbox-sm .modal-dialog {
    width: 360px;
    text-align: center;
    padding-top: 10px;
}

html body.page-signin {
    background: #666 !important;
}

.report-table-scroll {
    font-size: 10px;
    width: 100%;
    overflow: scroll;
    height: 400px;
}

#page-signin-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.minicolors {
    width: 100% !important;
}

.switcher {
    float: left;
    margin-right: 5px;
}

#page-signin-bg img {
    width: 100%;
}

#page-signin-bg .overlay {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.page-signin .signin-container {
    border-radius: 2px;
    display: block;
    margin: 20px 14px;
    position: relative;
    z-index: 999;
}

.page-signin .signin-info {
    background: #444;
    display: block;
    overflow: hidden;
    padding: 20px 30px;
    text-align: center;
}

    .page-signin .signin-info .logo {
        color: #4c4c4c;
        font-size: 22px;
        font-weight: 700;
        opacity: 1;
    }

        .page-signin .signin-info .logo[href]:hover {
            opacity: .7;
        }

    .page-signin .signin-info .slogan {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
    }

    .page-signin .signin-info ul {
        display: none;
    }

.page-signin .signin-form {
    background: #fff;
    display: block;
    padding: 30px;
    position: relative;
}

.page-signin .password-reset-form {
    background: #fff;
    bottom: 0;
    display: block;
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1020;
}

    .page-signin .password-reset-form .header {
        background: #f4f4f4;
        border-bottom: 1px solid #ddd;
        margin: -30px -30px 30px -30px;
        padding: 20px;
    }

        .page-signin .password-reset-form .header .signin-text {
            margin: 0;
        }

            .page-signin .password-reset-form .header .signin-text span {
                background: #f4f4f4;
            }

            .page-signin .password-reset-form .header .signin-text:before {
                display: none;
            }

        .page-signin .password-reset-form .header .close {
            margin-top: 2px;
        }

    .page-signin .password-reset-form .form-group.w-icon .signin-form-icon {
        z-index: 1025;
    }

.page-signin .form-actions {
    margin-top: 15px;
}

    .page-signin .form-actions .signin-btn {
        border: none;
        border-radius: 999999px;
        font-size: 13px;
        font-weight: 600;
        line-height: 19px;
        outline: 0 !important;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

        .page-signin .form-actions .signin-btn:hover {
            background: #444 !important;
        }

    .page-signin .form-actions a.forgot-password {
        border-bottom: 1px dashed #bbb;
        color: #999;
        display: inline-block;
        font-size: 11px;
        margin-left: 10px;
        padding-bottom: 1px;
    }

        .page-signin .form-actions a.forgot-password:hover {
            color: #555;
            text-decoration: none;
        }

.page-signin .form-group {
    margin: 0;
    position: relative;
}

    .page-signin .form-group + .form-group {
        margin: 10px 0 0;
    }

    .page-signin .form-group.w-icon .signin-form-icon {
        border-right: 1px solid #d6d6d6;
        bottom: 9px;
        color: #d6d6d6;
        display: block;
        font-size: 14px;
        left: 0;
        line-height: 27px;
        position: absolute;
        text-align: center;
        top: 9px;
        width: 40px;
        z-index: 1002;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .page-signin .form-group.w-icon input[type=password], .page-signin .form-group.w-icon input[type=text] {
        font-size: 15px;
        padding-left: 56px;
    }

        .page-signin .form-group.w-icon input[type=password]:focus + .signin-form-icon, .page-signin .form-group.w-icon input[type=text]:focus + .signin-form-icon {
            color: #888;
        }

.page-signin .signin-text {
    color: #777;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
}

    .page-signin .signin-text span {
        background: #fff;
        display: inline-block;
        padding: 0 20px;
        position: relative;
    }

    .page-signin .signin-text:before {
        background: #e4e4e4;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }

.page-signin .signin-with {
    background: #f4f4f4;
    border-top: 1px solid #ddd;
    margin: 30px -30px -30px -30px;
    padding: 20px 30px;
}

.page-signin .signin-with-btn {
    border-radius: 2px;
    color: #fff;
    display: block;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
}

    .page-signin .signin-with-btn span {
        font-weight: 600;
    }

    .page-signin .signin-with-btn + .signin-with-btn {
        margin-top: 10px;
    }

    .page-signin .signin-with-btn:hover {
        background: #444 !important;
    }

.page-signin .not-a-member {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: -20px 0 0 0;
    padding: 20px 0;
    position: relative;
    text-align: center;
    z-index: 999;
}

    .page-signin .not-a-member a {
        color: #fff;
        text-decoration: underline;
        transition: all .3s;
    }

        .page-signin .not-a-member a:hover {
            opacity: .6;
        }

@media (min-width:480px) {
    .page-signin .form-actions {
        margin-top: 15px;
    }

        .page-signin .form-actions .signin-btn {
            padding-left: 40px;
            padding-right: 40px;
            width: auto;
        }
}

@media (min-width:768px) {
    .page-signin .signin-container {
        display: table;
        margin: 80px auto;
        width: 650px;
        table-layout: fixed;
    }

    .page-signin .signin-info {
        display: table-cell;
        padding: 30px 30px 80px 30px;
        text-align: center;
        vertical-align: top;
        width: 40%;
    }

        .page-signin .signin-info ul {
            color: #fff;
            display: block;
            font-size: 13px;
            font-weight: 300;
            margin: 30px 0 0;
            padding: 0;
        }

            .page-signin .signin-info ul li {
                list-style: none;
                margin: 0;
                padding: 7px 0;
            }

            .page-signin .signin-info ul .signin-icon {
                display: block;
                float: left;
                font-size: 14px;
                line-height: 18px;
                margin-right: 6px;
                text-align: center;
                width: 24px;
            }

    .page-signin .signin-form {
        display: table-cell;
        vertical-align: top;
        width: 60%;
    }

    .page-signin .not-a-member {
        margin: -80px 0 80px;
    }

    .validation-summary-valid {
        display: none !important;
    }

    .cb-parceiro {
        width: 100%;
        color: #000;
    }

    .star {
        cursor: pointer;
    }

    #main-menu-inner .text-bg {
        color: #fff;
    }

    .page-header {
        padding: 16px 18px;
    }

    .table-striped.dataTable {
        width: 100% !important;
    }

    #jq-datatable_processing {
        width: 125px;
        float: right;
        padding-top: 7px;
    }
}


.radios-to-slider{
	background-color:#e0e0e0;
	display:block;
	position:relative;
	margin-bottom:80px;
	-webkit-box-sizing:content-box;
	   -moz-box-sizing:content-box;
	     -o-box-sizing:content-box;
	        box-sizing:content-box;
}


.radios-to-slider.medium{
	height:22px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
	padding:5px;
}

/* Levels */
.radios-to-slider .slider-level{
	background-color:#fff;
	cursor:pointer;
	position:absolute;
	display:block;
}

.radios-to-slider .slider-level.slider-lower-level{
	opacity:0.2;
}

.radios-to-slider.medium .slider-level{
	width:22px;
	height:22px;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
	z-index:2;
}

/* Labels */
.slider-label{
	position:absolute;
	display:block;
	cursor:pointer;
	color:#5e5e5e;
	text-align:center;
}

.radios-to-slider.medium .slider-label{
	top:50px;
	width:44px;
}

/* Slider bar */
.radios-to-slider .slider-bar{
	background-color:#e66454;
	float:left;
	height:100%;
	width:0;
	pointer-events:none;
	display:none;
	position:absolute;
	left:0;
	top:0;
}

.slider-bar.transition-enabled{
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}

.radios-to-slider.medium .slider-bar{
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
}

/* Slider Knob */
.slider-knob{
	float:right;
	background-color:#504948;
}

.radios-to-slider.medium .slider-knob{
	width:32px;
	height:32px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
}

.modal-header .btn{
    float: right;
    margin-right:18px;
}

.frame-desktop {
    padding: 4% 0;
    background-image: url(../images/mockup_chrome.png);
    background-repeat: no-repeat;
    background-size: contain;   
    overflow: hidden;
}

.frame-desktop iframe {
    width: 1366px; 
    height: 677px;
    border: 0;
}

.frame-mobile{
    padding: 38% 10.5% 26.2% 7.8%;
    background-image: url(../images/mockup_iphone6.png);
    background-repeat: no-repeat;
    background-size: contain;   
    overflow: hidden;
}

.frame-mobile iframe {
    width: 375px; 
    height: 604px;
    border: 0;
}

.frame-tablet{
    padding: 19% 6.7% 18.6% 7.1%;
    background-image: url(../images/mockup_ipad.png);
    background-repeat: no-repeat;
    background-size: contain;   
    overflow: hidden;
}

.frame-tablet iframe {
    width: 768px; 
    height: 959px;
    border: 0;
}

.dz-img-loaded {
    height: 284px;
    width: 100%;
    max-width: 771px;
    /*margin-top: 22.5px;*/
}

.dz-img-loaded-favicon {
    height: 64px;
    width: 100%;
    max-width: 64px;
    margin-top: 20%;
}

.dz-img-loaded-logo {
    height: 282px;
    width: 100%;
    max-width: 512px;
}


.mt1{
    margin-top: 1rem !important;
}
.mt2{
    margin-top: 2rem !important;
}
.mt3{
    margin-top: 3rem !important;
}

/*Android Screen Preview Styles*/

.preview-bg {
    width: 100%;
    background-color:lightgray;
    min-height: 700px;
    padding: 0px;
}

.preview-status-bar {
    width: 100%;
    margin: 0px;
}
.preview-nav-bar {
    width: 100%;
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.preview-logo {
    margin: auto;
    width: 138px;
    height: 76px;
    text-align: center;
    display: block;
}

.preview-button {
    width: 100%;
    border-radius: 25px;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    border: 0 !important;
}

.preview-button-disabled {
    cursor: default;
    pointer-events: none;
}

/* Customize the label (the container) */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color:black;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    color: inherit;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid currentColor;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*Loader Spinner*/
.loadingSpinner {
    border: 4px solid white;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    width: 24px;
    height: 24px;
    opacity: 1;
    border-radius: 50%;
    animation: loadingSpinner .7s infinite linear;
    -webkit-animation: loadingSpinner .7s infinite linear;
}

button .loadingSpinner {
    margin: auto;
    position: absolute;
    float: left;
    vertical-align: middle;
}

button .btn-label {
    font-weight: bold;
    font-size: 16px;

}

@keyframes loadingSpinner {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loadingSpinner {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

.cssload-loader-inner {
    bottom: 0;
    height: 195px;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 200px;
    width: 500px;
    height: 500px;
}

.cssload-cssload-loader-line-wrap-wrap {
    animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 163px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    width: 325px;
}

.cssload-loader-line-wrap {
    border: 13px solid transparent;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 325px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 325px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) {
    animation-delay: -57.5ms;
    -o-animation-delay: -57.5ms;
    -ms-animation-delay: -57.5ms;
    -webkit-animation-delay: -57.5ms;
    -moz-animation-delay: -57.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) {
    animation-delay: -115ms;
    -o-animation-delay: -115ms;
    -ms-animation-delay: -115ms;
    -webkit-animation-delay: -115ms;
    -moz-animation-delay: -115ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) {
    animation-delay: -172.5ms;
    -o-animation-delay: -172.5ms;
    -ms-animation-delay: -172.5ms;
    -webkit-animation-delay: -172.5ms;
    -moz-animation-delay: -172.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) {
    animation-delay: -230ms;
    -o-animation-delay: -230ms;
    -ms-animation-delay: -230ms;
    -webkit-animation-delay: -230ms;
    -moz-animation-delay: -230ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) {
    animation-delay: -287.5ms;
    -o-animation-delay: -287.5ms;
    -ms-animation-delay: -287.5ms;
    -webkit-animation-delay: -287.5ms;
    -moz-animation-delay: -287.5ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
    border-color: rgb(105,105,105);
    height: 293px;
    width: 293px;
    top: 23px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
    border-color: rgb(128,128,128);
    height: 247px;
    width: 247px;
    top: 46px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
    border-color: rgb(169,169,169);
    height: 202px;
    width: 202px;
    top: 68px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
    border-color: rgb(192,192,192);
    height: 156px;
    width: 156px;
    top: 91px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
    border-color: rgb(211,211,211);
    height: 111px;
    width: 111px;
    top: 114px;
}




@keyframes cssload-spin {
    0%, 15% {
        transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    0%, 15% {
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    0%, 15% {
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    0%, 15% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    0%, 15% {
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader {
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

#alert-content-pos {
    position: relative;
    top:-300px
}

.datepick {
    border: 0;
    padding: 6px 3px;
    width: 100%;
    border-bottom: 1px solid #aaa;
    background: none;
    border-radius: 0;
}

#inputCpf {
    border: 0;
    border-bottom: 1px solid #aaa;
    background: none;
    border-radius: 0;
    padding: 0 3px;
}

.Background{
   object-fit: contain;
}