﻿@{ ViewBag.Title = " Acessos ao Portal"; }

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-list-ul page-header-icon"></i>@ViewBag.Title</h1>
    </div>
</div>

<div class="table-primary">
    <div class="hidden" id="jq-datatable-caption">Lista de @ViewBag.Title</div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatable">
        <thead>
            <tr>
                <th width="100">Data</th>
                <th width="40">Hora</th>
                <th width="100">CPF</th>
                <th width="150">IP</th>
                <th width="40">Bloqueado</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    init.push(function () {

        $('#jq-datatable').on("draw.dt", function () {
            $('#jq-datatable .chk-inativar').on("click", function () {
                if ($(this).data("inativo") == 0) {
                    $(this).data("inativo", "1");
                }
                else {
                    $(this).data("inativo", "0");
                }
                var inativar = $(this).data("inativo") == 0 ? "false" : "true";
                var url = "@Url.Action("Blocked", "PortalAccess")/" + $(this).data("id") + "?inativo=" + inativar;

                $.getJSON(url, function (result) {
                    //var typeMessage = result.Success ? "Success" : "Error";
                    //notify(result.Message, typeMessage);
                });
            });
            $('#jq-datatable .switcher-example-default').switcher();
        });

        $('#jq-datatable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("AccessList", "PortalAccess")",
            "bProcessing": true,
            "aoColumns": [
                { "sName": "Data", "bSortable": false },
                { "sName": "Hora", "bSortable": false },
                { "sName": "CPF", "bSortable": false },
                { "sName": "IP", "bSortable": false },
                {
                    "sName": "Bloqueado",
                    "bSortable": false,
                    "bSearchable": false,
                    "mRender": function (data, type, full) {
                        var idinativo = data.split("#");
                        return '<input type="checkbox" data-id="' + idinativo[0] + '" data-inativo="' + idinativo[1] + '" ' + (idinativo[1] == "0" ? 'checked="checked"' : '') + ' class="chk-inativar switcher-example-default" /> ';
                    }
                }
            ]
        });

            $(".datepick").datepicker();

    });
</script>
