﻿@using Sabemi.Domain.Entities
@model Sabemi.Domain.Entities.Admin.WhiteList
@{
    ViewBag.Title = "Novo IP de Exceção (WhiteList)";
    ViewBag.SubTitle = "Inserir";
}

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-user page-header-icon"></i>&nbsp;&nbsp;@ViewBag.Title</h1>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto">
                    <a asp-action="Index" class="btn btn-labeled btn-flat" style="width: 100%;">
                        <span class="btn btn-label icon fa fa-angle-left"></span>Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Create" method="post" name="frmCadastro" id="frmCadastro" autocomplete="off">
    <input type="hidden" asp-for="Cod_Id" />

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">@ViewBag.SubTitle</span>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label asp-for="Cod_Ip" class="control-label" for="inputError-4">IP</label>
                <input asp-for="Cod_Ip" placeholder="xxx.xxx.xxx.xxx" data-mask="999.999.999.999" data-mask-reverser="false" class="form-control" />
                <span asp-validation-for="Cod_Ip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cod_Descricao" class="control-label" for="inputError-4">Descrição</label>
                <input asp-for="Cod_Descricao" class="form-control" />
                <span asp-validation-for="Cod_Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn-success btn btn-flat btn-labeled"><span class="btn-label icon fa fa-save"></span>Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>
