﻿@{
    ViewBag.Title = " IP's de Exceção (WhiteList)";
}

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-list-alt page-header-icon"></i>@ViewBag.Title</h1>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto">
                    <a asp-action="Create" class="btn btn-primary btn-labeled btn-flat" style="width: 100%;">
                        <span class="btn-label icon fa fa-plus"></span>Adicionar Novo IP
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-primary">
    <div class="hidden" id="jq-datatable-caption">Lista de @ViewBag.Title</div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatable">
        <thead>
            <tr>
                <th>IP</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    init.push(function () {

        $('#jq-datatable').on("draw.dt", function () {
            
        });

        $('#jq-datatable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("List", "WhiteList")",
            "bProcessing": true,
            "aoColumns": [
                { "sName": "IP", "bSortable": false },
                { "sName": "Descrição", "bSortable": false }                
            ]
        });
    });
</script>
