﻿@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="col-md-offset-9">
        <div style="padding-top: 15px;"></div>

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 id="msgRetorno" style="padding-top: 20px">Opa! Algo deu errado :(</h4>
            <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="col-md-offset-9">
        <div style="padding-top: 15px"></div>

        <div id="msg_box" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3 id="msgRetorno">@ViewBag.Success</h3>
        </div>
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="col-md-offset-9">
        <div style="padding-top: 15px; padding-left: 150px"></div>

        <div id="msg_box" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 id="msgRetorno">@Html.Raw(TempData["Success"].ToString())</h4>
        </div>
    </div>
}
