﻿@using Sabemi.Admin.Models
@model AdminUserViewModel

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-user page-header-icon"></i>&nbsp;&nbsp;@ViewBag.Title</h1>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto">
                    <a asp-action="Index" class="btn btn-labeled btn-flat" style="width: 100%;">
                        <span class="btn btn-label icon fa fa-angle-left"></span>Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Save" method="post" name="frmCadastro" id="frmCadastro" autocomplete="off">
    <input type="hidden" asp-for="Id" />    

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">@ViewBag.SubTitle</span>
        </div>
        <div class="panel-body">

            @*<div class="form-group">
                <label asp-for="Name" class="control-label" for="inputDefault-4">Nome</label>
                @Html.TextBoxFor(t => t.Name, new { maxlength = "255", @class = "form-control", validate = "required" })
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" for="inputDefault-4">E-mail</label>
                @Html.TextBoxFor(t => t.Email, new { maxlength = "255", @class = "form-control", validate = "required", tipo = "email" })
            </div>*@
            <div class="form-group">
                <label asp-for="Login" class="control-label" for="inputWarning-4">Login</label>
                @Html.TextBoxFor(t => t.Login, new { maxlength = "100", @class = "form-control", validate = "required" })
            </div>
            @*<div class="form-group" supress-by-action="Create">
                <label asp-for="NewPassword" class="control-label" for="inputError-4">Nova Senha</label>
                @Html.PasswordFor(t => t.NewPassword, new { maxlength = "255", @class = "form-control", placeholder = "Digite a Nova Senha", validate = "required" })
            </div>*@
            <div class="form-group" supress-by-action="Edit">
                <label asp-for="Password" class="control-label" for="inputError-4">Senha</label>
                @Html.PasswordFor(t => t.Password, new { maxlength = "255", @class = "form-control", placeholder = "Digite a Senha", validate = "required" })
            </div>

            <div class="form-group">
                <label class="control-label" for="inputDefault-4">Perfil</label>
                <select class="form-control form-group-margin" name="IdProfile" id="IdProfile" validate="required">
                    <option value="">selecione</option>
                    @if (Model.Profiles != null)
                    {
                        foreach (var item in Model.Profiles)
                        {
                            if (item.ValueAsInt() == Model.IdProfile)
                            {
                                <option value="@Model.IdProfile" selected>@Model.Profile</option>
                            }
                            else
                            {
                                <option value="@item.ValueAsInt()">@item.Description()</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="inputSuccess-4">Ativo</label>
                <div id="switchers-sizes">
                    <div>
                        @Html.CheckBoxFor(t => t.Active, new { @class = "switcher-example-default" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn-success btn btn-flat btn-labeled"><span class="btn-label icon fa fa-save"></span>Salvar</button>
                </div>
            </div>
        </div>
    </div>

</form>