﻿@{
    ViewBag.Title = " Usuários do Admin";
}

<div class="page-header">
    <div class="row">        
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-users page-header-icon"></i>@ViewBag.Title</h1>
        <div class="col-xs-12 col-sm-8">            
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto">
                    <a asp-action="Create" class="btn btn-primary btn-labeled btn-flat" style="width: 100%;">
                        <span class="btn-label icon fa fa-plus"></span>Novo
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- / Javascript -->
<div class="table-primary">
    <div class="hidden" id="jq-datatable-caption">Lista de Usuários do Admin</div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatable">
        <thead>
            <tr>
                <th width="100">Perfil</th>
                <th width="150">Login</th>
                <th width="100">Último Atualização</th>
                <th width="40">Ativo</th>
                <th width="40">Ação</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!-- /11. $JQUERY_DATA_TABLES -->

<script type="text/javascript">

    init.push(function () {

        $('#jq-datatable').on("draw.dt", function () {
            $('#jq-datatable .chk-inativar').on("click", function () {
                if ($(this).data("inativo") == 0) {
                    $(this).data("inativo", "1");
                }
                else {
                    $(this).data("inativo", "0");
                }
                var inativar = $(this).data("inativo") == 0 ? "false" : "true";
                var url = "@Url.Action("Inactivate", "AdminUser")/" + $(this).data("id") + "?inativo=" + inativar;

                $.getJSON(url, function (result) {
                    //var typeMessage = result.Success ? "Success" : "Error";
                    //notify(result.Message, typeMessage);
                });
            });
            $('#jq-datatable .switcher-example-default').switcher();

        });

        $('#jq-datatable').dataTable({
            "bServerSide": true,
            //"sPaginationType": "full_numbers",
            "sAjaxSource": "@Url.Action("List", "AdminUser")",
            "bProcessing": true,
            "aoColumns": [
                { "sName": "Perfil", "bSortable": false },
                { "sName": "Login", "bSortable": false },                
                { "sName": "UltimoAcesso", "bSortable": false },
                {
                    "sName": "Ativo",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var idinativo = data.split("#");
                        return '<input type="checkbox" data-id="' + idinativo[0] + '" data-inativo="' + idinativo[1] + '" ' + (idinativo[1] == "0" ? 'checked="checked"' : '') + ' class="chk-inativar switcher-example-default" /> ';
                    }
                },
                {
                    "sName": "Editar",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        return '<a href="editar-usuario/' + data + '" class="btn btn-xs btn-warning btn-flat" onclick="loader(event)">Editar</a> ';
                    }
                }
            ]
        });
    });

</script>